body {
    background: #d2ccc5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
.Calculator {
    width: 400px;
    height: 300px;
    position: relative;
    margin: 25px;
  }
.ButtonStyle {
    background-color: #0997f5;
    border: 4;
    color: white;
    
    height:60px;
    width:60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
  
  
  }
.Keypad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80%;
  }
.screen-row input{
    width: 220px;
    height:30px;
    background: rgb(133, 32, 32);
    border: 55px;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    }
  .showme{
    background-color: #0997f5;
    border: 4;
    color: white;
    
    height:60px;
    width:180px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    }
    
    .image-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid black; 
        border-radius: 10px; 
        overflow: hidden; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
        /* height: 50%;  */
        width: 30%;
        background-color: white; 
        z-index: 9999; 
    }
    
    .image-container img {
        width: 100%; 
        height: auto; 
        display: block; 
    }
    /* .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    } */